/*Navbar */
.navbar{
    height:5rem; 
    background-color: white;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
     color: #222222 !important;/*to override bootstrap color with our custom color we use !important */
}